//login 
<form action="/addReview" method="POST">
    <div class="mb-3">
        <label for="productName" class="form-label">Product Name:</label>
        <input type="text" class="form-control" id="productName" name="productName" required>
    </div>
    <div class="mb-3">
        <label for="productName" class="form-label">Product Name:</label>
        <input type="text" class="form-control" id="productName" name="productName" required>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg shadow">Write Review</button>
    </div>
</form>
